
<h1>Studnet Page</h1>
<table class="table1">
    <thead>
        <tr>
            <th> Student_ID</th>
            <th> Student Name</th>
            <th>Student Faculty</th>
            <th>Student Address</th>
            <th>Student Phone no.</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% list.forEach((item, index)=>{%>
            <tr>
                <td> <%=index+1%></td>
                <td> <%=item.std_name%></td>
                <td> <%=item.std_faculty%></td>
                <td> <%=item.std_address%></td>
                <td> <%=item.std_phone%></td>
            </tr>
        <%})%>
    </tbody>
</table>
